.example-card {
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:35px;
    margin-left: 30%; 
  }
  
.image{
  height: 300px;
  margin: 0 -16px 16px -105px
   
}
