<mat-card class="example-card">
  <mat-card-content>
    <br>
    <h1 style="text-align: center">This page Not found</h1>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <img class="image" mat-card-image src="./assets/gif/failed.gif" alt="failed gif"> 
      </mat-card-header>
    <h3 style="text-align: center">plese go to the items page:
      <a routerLink = "/items">Items</a> 
    </h3>
  </mat-card-content>
</mat-card>