<div *ngIf = "(authService.user | async)"> 
        <mat-card class="example-card">
                <mat-card-subtitle class="sub2">
                        Your current items :
                </mat-card-subtitle>
                <item *ngFor = "let item of items"
                        [data] = "item">
                </item>
                <div *ngIf = "items.length==0" 
                        class="text"  >
                                {{itemTextFromTodo}}
                </div>
                <br>
                <br>
                <div >
                        <h4 class="explain-card"> 
                                Explanation about the icon:
                        </h4> 
                        <p class="explain-card" style="margin-left: 50px;">
                                <mat-icon>delete</mat-icon>  
                                <span>Delete item task</span>
                        </p>
                </div>
        </mat-card>
</div>

