<mat-card class="example-card">

  <mat-card-subtitle class="subtitle">
    please login 
  </mat-card-subtitle>
  
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <img class="image" mat-card-image src="./assets/gif/unlock.gif" alt="unlock gif"> 
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="example-container">
      <input  [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    </mat-form-field>
      <div *ngIf = "code == 'auth/invalid-email'"  
            class="err" >
              {{ message }}
      </div>
      <div *ngIf = "code =='auth/user-not-found' " 
          class="err" >
            {{ message }}
     </div>
      <div *ngIf = "email == null" 
            class="err" >
              {{ required }}
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field class="example-container">
        <input [(ngModel)] = "password" 
                name = "password" 
                matInput placeholder="Enter your password" 
                [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <div *ngIf = "code == 'auth/wrong-password'" 
           class="err" >
            {{ message }}
      </div>
      <div *ngIf = "password == null" 
            class="err" >
              {{ required }}
      </div>
    </mat-card-content>
    
    <mat-card-actions class="login-button">
      <button  mat-stroked-button color="primary"
               (click)="toLogin()">
                  Login
      </button>
    </mat-card-actions>

</mat-card>