<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="head-line">my app</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;"> 
      <button mat-raised-button class="nav-side" 
              (click)= "toItems()">
                  Items
      </button>  
      <button mat-raised-button class="nav-side" 
              *ngIf ="!(authService.user |async)" 
              (click)= "toLogin()">
                  Login
      </button>   
      <button mat-raised-button class="nav-side" 
              *ngIf ="(authService.user |async)"  
              (click)= "logout()">
                  Logout
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>