<div class="checkbox" (mouseenter)='showButton()'
                      (mouseleave)='hideButton()'>

    <mat-checkbox  [(ngModel)]="stock"
                    (change) = "checkChange()"     >
    </mat-checkbox >
    <span  class="todo">
            {{name}} {{price}}
    </span>
    <button mat-icon-button  class="icon">
        <mat-icon (click)= "showEdit()"
                    *ngIf = 'showTheButton&&!showDeleteField'>
                        delete
        </mat-icon>
    </button >
    <button mat-raised-button   class="icon"
            (click)= "cancel()"
            *ngIf = 'showDeleteField'>
                        cancel
    </button >
    <button mat-raised-button  class="icon"
            (click)= "toDelete()"
            *ngIf = 'showDeleteField'>
                        click to delete
    </button >  
</div> 
    
    