<div style =" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              text-align: center"
     *ngIf="!(authService.user | async)"> 
    <h1>You are not logged in, you can not see this page!</h1>
    <h3 style="text-align: center">Please login to see your list of items:
        <a routerLink = "/login">login</a> 
    </h3>
</div>
<div *ngIf = "(authService.user | async)"> 
    <mat-card class="example-card">
        <mat-card-header >
            <div mat-card-avatar class="example-header-image"></div>
            <img class="image" mat-card-image src="./assets/gif/HoUt.gif" alt="welcom gif"> 
        </mat-card-header>
        <div >
            <mat-card-subtitle class="subtitle">
                {{(authService.user | async)?.email}}, 
                <br>
                we glad you joined us!
            </mat-card-subtitle>    
        </div>
    </mat-card>
</div>